@*@GeneratedCode*@
@model IEnumerable<QTHungryDogs.AspMvc.Models.App.SpecialOpeningHour>
@{
  var orderBy = (string)ViewBag.OrderBy ?? string.Empty;
}
<thead>
 <tr>
  <th>
   @if (orderBy.StartsWith("RestaurantId") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="RestaurantId DESC" class="btn btn-outline"><strong>RestaurantId</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("RestaurantId") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>RestaurantId</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="RestaurantId ASC" class="btn btn-outline"><strong>RestaurantId</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("From") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="From DESC" class="btn btn-outline"><strong>From</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("From") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>From</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="From ASC" class="btn btn-outline"><strong>From</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("To") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="To DESC" class="btn btn-outline"><strong>To</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("To") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>To</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="To ASC" class="btn btn-outline"><strong>To</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("Notes") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="Notes DESC" class="btn btn-outline"><strong>Notes</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("Notes") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Notes</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="Notes ASC" class="btn btn-outline"><strong>Notes</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("State") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="State DESC" class="btn btn-outline"><strong>State</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("State") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>State</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="State ASC" class="btn btn-outline"><strong>State</strong></a>
    }
  </th>
  <th></th>
 </tr>
</thead>
